       /*   Fontes para os menus:
            font-family: 'Roboto', sans-serif;
            font-family: 'Rubik Dirt', cursive;

            Fonte do h1 Principal:
            font-family:'logo';
            src: url(/ex021/fontes/PhillySans.otf);
            font-weight: normal;


             Font Reserva:
            @font-face {
            font-family:'basket';
            src: url(/ex021/fontes/Streetbomber.ttf);
            font-weight: normal;
            
            font-family: 'Lato', sans-serif;
 
            
         */

         
       @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');       
       
       
       @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Rubik+Dirt&display=swap');

        @font-face {
            font-family:'basket';
            src: url(/ex021/fontes/Streetbomber.ttf);
            font-weight: normal;

            font-family:'logo';
            src: url(/ex021/fontes/PhillySans.otf);
            font-weight: normal;


        }
        

        :root{

          --co0: #06468D;  
          --co1: #FECC00;  
          --co2: #404040; 
          --co3: #0D0D0D;  
          --co4: #ffffff;  


          --fontelogo: logo, Arial, sans-serif;
          

        }

       body{
        
        
        font-family: 'Lato', sans-serif;
        color:var(--co3);

       }

       header {
        background-image: linear-gradient(to bottom,var(--co2), var(--co3));
        color: var(--co4);
        margin: 1px auto 25px auto;
        width: 100%;
    }

       h1{
        font-family:'logo';
        color:var(--co1);
        text-align: center;
        font-weight: 800;
        font-size: 32px;
       }

       nav {
        text-align: center;
        color: var(--co4);
        margin:auto;        
        width:100%;
        

       }

       nav a {
        
        color: var(--co4);
        text-decoration: none;
        font-weight: bolder;
        margin: 10px 10px 10px;
        

       }

       nav a:hover{
      background-color:var(--co1);
      }
       
       #noticiasbr{

        background-image: linear-gradient(to bottom, var(--co4),var(--co1));
        text-align: center;        
        margin: 1px auto 25px auto;
       
       
        


       }

      div{
        background-image: linear-gradient(to bottom,var(--co2), var(--co3));
        color:var(--co2);        
      }
        

       

       #noticiasmundo{
        background-image: linear-gradient(to right, var(--co0), #4093ac );
        color:var(--co4);
        
      }

      