*{ margin: 0; padding: 0;}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

nav{
    position: relative;
    font-family: monospace;
    float: left;
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    background: #444343;
    display:block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;


}

li a {
    color: white;
    text-decoration: none;
}

li ul{
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    margin-top: 1rem;
    left:0;
    display: none;
    box-shadow: 0px 8px 16px 0px;
}

li ul li{
    clear: both;
    width: 100%;
    
}

ul li:hover,
ul li:focus-within {
    background: green;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
   
}

a:hover{
    color: #74dfd0;
}
